.app__container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.toolbar {
  background-color: #0D47A1;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .app__container {
    width: 980px;
  }
}
