<form class="create__form" [formGroup]="gameForm" (ngSubmit)="onSubmit()">
  <div class="first__group">
    <div class="group1">
      <mat-form-field appearance="standard">
        <mat-label>Digito 1</mat-label>
        <input matInput formControlName="number1" placeholder="Digite um número" type="number">
        <mat-error *ngIf="getMinMaxErrorMessageForInput('number1')()">
          {{minMaxMessage}}
        </mat-error>
        <mat-error *ngIf="getRequiredErrorMessageForInput('number1')()">
          {{requiredMessage}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="group2">
      <mat-form-field appearance="standard">
        <mat-label>Digito 2</mat-label>
        <input matInput formControlName="number2" placeholder="Digite um número" type="number">
        <mat-error *ngIf="getMinMaxErrorMessageForInput('number2')()">
          {{minMaxMessage}}
        </mat-error>
        <mat-error *ngIf="getRequiredErrorMessageForInput('number2')()">
          {{requiredMessage}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="group3">
      <mat-form-field appearance="standard">
        <mat-label>Digito 3</mat-label>
        <input matInput formControlName="number3" placeholder="Digite um número" type="number">
        <mat-error *ngIf="getMinMaxErrorMessageForInput('number3')()">
          {{minMaxMessage}}
        </mat-error>
        <mat-error *ngIf="getRequiredErrorMessageForInput('number3')()">
          {{requiredMessage}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="group4">
    <mat-form-field appearance="standard">
      <mat-label>Digito 4</mat-label>
      <input matInput formControlName="number4" placeholder="Digite um número" type="number">
      <mat-error *ngIf="getMinMaxErrorMessageForInput('number4')()">
        {{minMaxMessage}}
      </mat-error>
      <mat-error *ngIf="getRequiredErrorMessageForInput('number4')()">
        {{requiredMessage}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="group5">
    <mat-form-field appearance="standard">
      <mat-label>Digito 5</mat-label>
      <input matInput formControlName="number5" placeholder="Digite um número" type="number">
      <mat-error *ngIf="getMinMaxErrorMessageForInput('number5')()">
        {{minMaxMessage}}
      </mat-error>
      <mat-error *ngIf="getRequiredErrorMessageForInput('number5')()">
        {{requiredMessage}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="group6">
    <mat-form-field appearance="standard">
      <mat-label>Digito 6</mat-label>
      <input matInput formControlName="number6" placeholder="Digite um número" type="number">
      <mat-error *ngIf="getMinMaxErrorMessageForInput('number6')()">
        {{minMaxMessage}}
      </mat-error>
      <mat-error *ngIf="getRequiredErrorMessageForInput('number6')()">
        {{requiredMessage}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="group7">
    <mat-form-field appearance="standard">
      <mat-label>Digito 7</mat-label>
      <input matInput formControlName="number7" placeholder="Digite um número" type="number">
      <mat-error *ngIf="getMinMaxErrorMessageForInput('number7')()">
        {{minMaxMessage}}
      </mat-error>
      <mat-error *ngIf="getRequiredErrorMessageForInput('number7')()">
        {{requiredMessage}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form__actions">
    <button
        mat-flat-button class="button" type="submit"
        [disabled]="!gameForm.valid" [ngClass]="{ 'disabled': !gameForm.valid }">
        Criar
    </button>

    <button mat-flat-button color="warn" type="button" (click)="cancelClick()">Cancelar</button>
  </div>
</form>
